* {
    box-sizing: border-box;
}


body {
   background-color: rgb(235, 235, 235);
   
    
}

.main-heading {
    background-color: rgb(223, 223, 191);
    padding: 30px;
    
}
.main-heading h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 5px rgb(109, 180, 109);

}

.navigation-bar {
    
    overflow: hidden;
    background-color: rgb(51,51,51);
    margin-top: 0px;
   
}
.navigation-bar a {
    float: left;
    display: block;
    color: white;
    padding: 15px;
    margin-left: 120px;
    text-align: center;
    font-size: larger;
    text-decoration: none;
}
.navigation-bar a:hover {
    background-color: rgb(179, 179, 179);
    color: black;
}